main.aux
main.bbl
main.blg
main.fdb_latexmk
main.fls
main.log
main.out
main.pdf
main.synctex.gz
main.toc
main.equ
main.lof
main.lot
main.loa

arabluatex.lua
arabluatex.sty
arabluatex_fullvoc.lua
arabluatex_novoc.lua
arabluatex-patch.sty
arabluatex_trans.lua
arabluatex_voc.lua

algorithm2e.sty

lualatex23809.fls